In [1]:
import pandas as pd

In [3]:
pd.read_csv("sales.csv")

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

In [2]:
Sales_department=pd.read_csv("sales.csv")

In [3]:
Sales_department

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

In [4]:
Sales_department.sort_values(by="Profit")

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
2042,Nevada,147.0,Green Tea,20.0,Small Market,-638.0,West,114,Tea,6413.0,Regular
2044,Nevada,145.0,Green Tea,33.0,Small Market,-605.0,West,111,Tea,8252.0,Regular
2041,Nevada,131.0,Green Tea,21.0,Small Market,-558.0,West,107,Tea,5807.0,Regular
2036,Nevada,132.0,Green Tea,19.0,Small Market,-552.0,West,93,Tea,1419.0,Regular
1922,Nevada,131.0,Green Tea,28.0,Small Market,-542.0,West,98,Tea,3049.0,Regular
...,...,...,...,...,...,...,...,...,...,...,...
62,California,35.0,Darjeeling,213.0,Major Market,NaN,West,24,Tea,756.0,Regular
73,California,149.0,Columbian,745.0,Major Market,NaN,West,97,Coffee,2642.0,Regular
153,California,96.0,Lemon,559.0,Major Market,NaN,West,74,Herbal Tea,1321.0,Decaf
298,Colorado,27.0,Green Tea,112.0,Major Market,NaN,Central,14,Tea,623.0,Regular
703,Connecticut,36.0,Mint,131.0,Small Market,NaN,East,18,Herbal Tea,1070.0,Decaf

In [5]:
Sales_department.sort_values(by=["Sales","Marketing"])

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
1914,Nevada,126.0,Green Tea,17.0,Small Market,-354.0,West,93,Tea,1419.0,Regular
1917,Nevada,133.0,Green Tea,18.0,Small Market,-380.0,West,100,Tea,3742.0,Regular
1923,Nevada,124.0,Green Tea,18.0,Small Market,-524.0,West,100,Tea,3742.0,Regular
2036,Nevada,132.0,Green Tea,19.0,Small Market,-552.0,West,93,Tea,1419.0,Regular
2034,Nevada,147.0,Green Tea,19.0,Small Market,-430.0,West,114,Tea,6413.0,Regular
...,...,...,...,...,...,...,...,...,...,...,...
2645,New York,178.0,Columbian,910.0,Major Market,368.0,East,127,Coffee,2617.0,Regular
157,California,178.0,Columbian,912.0,Major Market,370.0,West,127,Coffee,2654.0,Regular
2644,New York,178.0,Columbian,912.0,Major Market,370.0,East,127,Coffee,2654.0,Regular
502,Colorado,54.0,Decaf Espresso,NaN,Major Market,80.0,Central,23,Espresso,541.0,Decaf
508,Colorado,71.0,Chamomile,NaN,Major Market,99.0,Central,47,Herbal Tea,1073.0,Decaf

In [19]:
Sales_department.sort_values(by=["Sales","Marketing"], ascending = False)

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
157,California,178.0,Columbian,912.0,Major Market,370.0,West,127,Coffee,2654.0,Regular
2644,New York,178.0,Columbian,912.0,Major Market,370.0,East,127,Coffee,2654.0,Regular
131,California,178.0,Columbian,910.0,Major Market,368.0,West,127,Coffee,2617.0,Regular
2645,New York,178.0,Columbian,910.0,Major Market,368.0,East,127,Coffee,2617.0,Regular
132,California,166.0,Columbian,904.0,Major Market,511.0,West,127,Coffee,2654.0,Regular
...,...,...,...,...,...,...,...,...,...,...,...
1917,Nevada,133.0,Green Tea,18.0,Small Market,-380.0,West,100,Tea,3742.0,Regular
1923,Nevada,124.0,Green Tea,18.0,Small Market,-524.0,West,100,Tea,3742.0,Regular
1914,Nevada,126.0,Green Tea,17.0,Small Market,-354.0,West,93,Tea,1419.0,Regular
508,Colorado,71.0,Chamomile,NaN,Major Market,99.0,Central,47,Herbal Tea,1073.0,Decaf
502,Colorado,54.0,Decaf Espresso,NaN,Major Market,80.0,Central,23,Espresso,541.0,Decaf

In [27]:
Sales_department.sort_values(by="Profit",ascending = False)

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
1659,Massachusetts,46.0,Columbian,659.0,Major Market,778.0,East,17,Coffee,-1493.0,Regular
1590,Massachusetts,46.0,Columbian,658.0,Major Market,777.0,East,17,Coffee,-2033.0,Regular
1604,Massachusetts,45.0,Columbian,643.0,Major Market,755.0,East,17,Coffee,-1006.0,Regular
1605,Massachusetts,51.0,Columbian,614.0,Major Market,690.0,East,19,Coffee,-2572.0,Regular
2500,New York,91.0,Regular Espresso,815.0,Major Market,646.0,East,66,Espresso,1197.0,Regular
...,...,...,...,...,...,...,...,...,...,...,...
62,California,35.0,Darjeeling,213.0,Major Market,NaN,West,24,Tea,756.0,Regular
73,California,149.0,Columbian,745.0,Major Market,NaN,West,97,Coffee,2642.0,Regular
153,California,96.0,Lemon,559.0,Major Market,NaN,West,74,Herbal Tea,1321.0,Decaf
298,Colorado,27.0,Green Tea,112.0,Major Market,NaN,Central,14,Tea,623.0,Regular
703,Connecticut,36.0,Mint,131.0,Small Market,NaN,East,18,Herbal Tea,1070.0,Decaf

In [28]:
Sales_department.Market

0          West
1          West
2          West
3          West
4          West
         ...
4236    Central
4237    Central
4238    Central
4239    Central
4240    Central
Name: Market, Length: 4241, dtype: object

In [29]:
Sales_department.Market.sort_values()

4240    Central
1224    Central
1223    Central
1222    Central
1221    Central
         ...
2142       West
2141       West
2140       West
2150       West
2120       West
Name: Market, Length: 4241, dtype: object

In [30]:
Sales_department.Market.sort_values(ascending = False)

0          West
3148       West
3162       West
3161       West
3160       West
         ...
993     Central
994     Central
995     Central
996     Central
4240    Central
Name: Market, Length: 4241, dtype: object

In [31]:
Sales_department.sort_index(ascending = False)

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
...,...,...,...,...,...,...,...,...,...,...,...
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular

In [32]:
Sales_department.sort_index()

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

In [38]:
Sales_department.to_csv("Sales Departmet.csv")